#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body, html{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.page{
  width: 750px;
  height: 550px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
